@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "variables";

$base-blur: 5px;
$blur:100px;

@mixin ContainerBackgroundMixin{
  @each $K, $V in $containerBackground{
    #{$K}:$V;
  }
}

@function addBlur($value, $inc){
  @return calc(#{$value} + #{$inc});
}
:root{
  color: $text;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: rgb(24,28,28);
  height: 100%;
  overflow-x: hidden;
  font-size: 16pt;
}

body{
  text-align: center;
  justify-content: center;
}

main{
  margin-top: 13vh;
  margin-left: 1vw;
  margin-right: 1vw;
  padding: .1vh 1em;
  flex: 1 1 auto;
 // background: linear-gradient(0deg, rgba(24, 28, 28, 1) 0%, rgba(53, 63, 68, 0.63) 100%) no-repeat;
}

/**
  Replicates glass.
 */
.glass{
 // mask: linear-gradient(to bottom, black 25% 70%, transparent 100%);
  backdrop-filter: blur($base-blur+15px) saturate(4) brightness(.5);
  width: 100%;
  height: .5vh;
}


app-navbar{
/**
  This positions itself outside the liner div amd outside the navContainer div and serves as an intermediate
  between the content and the navbar.
  The padding is what is used to size the div
 */
  .HrWrap{
 // background: $dar;
   // mix-blend-mode: hard-light;
   backdrop-filter: blur(15px) saturate(5) brightness(.7);
   padding:  0.5vh 0 0 0; //only change the first value as it belongs to padding top
    position: relative;
    width: 100vw;

  }
  /**
This contains the navContainer and
To see what exactly it contains, uncomment *101
 */
  .liner{
   //@include ContainerBackgroundMixin; //*101
    //background-blend-mode: hard-light;
    //background-color: rgba(255, 0, 0, 0.57);
  //  backdrop-filter: blur(5px);
  //  border-top: .5em solid $background;
    top:0vh;
    padding: 0;
    position: static; //this makes the glass div appear under the navbar.
    left: 0;
    width: 100vw;
    height: fit-content;
    margin: 0;
  }


  /* This can be set on the ::before pseudo of the element it is applied to. */
  .navContainer:before {
    content: '';
    /* This layer is positioned between some element and its background. */
    position: absolute;
    /* This should not affect the contents of the container. */
    z-index: -1;
    /* The blur size should be anything below `0` so it will extend to the outside. */
    inset: -5vh;


    mask: linear-gradient(to bottom, black 0% 85%, transparent 100%);
    backdrop-filter: blur($base-blur) ;
    /* This merges the masks above so only the overlapping pixels are rendered. */
    /* This creates the illusion of a fade-out mask. */
  }


  nav{
    display: block;
    width: 100%;
    height: 10vh;
    margin: 0;
    padding: 0;
  }
  /**
    This is where all the buttons are contained inside of the navbar
   */
  .navContainer{
    background-image: linear-gradient( transparentize($text, .75), transparentize($background, .195));

    //background-blend-mode: hard-light;
    //backdrop-filter: blur(5px);
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }


  /**
  The buttons in the navbar are each contained inside a tile.
   */
  .tile{
   // border-top: 5px solid;
    //border-bottom: 5px solid;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    //background: transparentize($background, .75);

    width: 100%;
    height: 100%;
  }

}

app-button{
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: $background;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
  }
  .navButton {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.225s ease-in;
    color: $text;
    height: 100%;
    padding: 0 1rem;
    border-radius: 0;

    cursor: pointer;
    margin: 0;
    background: linear-gradient(87deg, rgba(0, 0, 0, .01) 0%, transparentize($accent, .675), rgba(0, 0, 0, .01) 100%);
    backdrop-filter: blur($base-blur+10px) brightness(.275) saturate(4.5);
  }

  .navButton:hover{
    backdrop-filter: blur($base-blur+50px) brightness(.525) saturate(4) contrast(1.2);
  }
  .activeRoute{
    font-size: 1.025em;
    transition: 270ms ease-in-out;
    color: transparent;
    backdrop-filter: blur($base-blur+15px) brightness(.7) saturate(5.5) contrast(1.175);
    background-image: linear-gradient($primary, $secondary);
    background-clip: text;
  }

}

/**
  This is the header where the navbar resides. Do not apply too much styling here, try to keep it contained in the navbar
 */
app-header {
  flex: 0 0 auto;

  header {
    height: 11vh;
    padding: 0;
    position: fixed;
    left: 0;
    width: 100vw;
    top: 0;
    margin: 0;
  }
}




