$text: hsl(224, 100%, 98%);
$background: hsl(180, 5%, 17%);
$primary: hsl(149, 100%, 88%);
$secondary: hsl(210, 100%, 85%);
$accent: hsl(165, 100%, 70%);


$darkBlue:hsl(210, 100%, 15%);
$darkRed:hsl(333, 63%, 31%);


$blueRedGradient:($darkBlue, $darkRed);
